h3 {
    margin-left: 50px;
    color: blue;
}

#timer {
    margin: 10px;
    font-size: 70px;
}

button {
    padding:10px;
    margin:10px;
}

#start {
    background-color: #90ee90;
}

#stop {
    background-color: #e9967a;
}